<tr id="<%= dom_id recipes_food %>">
  <td><%= recipes_food.food.name %></td>

  <% if extended %>
  <td><%= recipes_food.quantity %></td>
  <td>$<%= recipes_food.quantity * recipes_food.food.price %></td>

  <td class="d-flex ">
    <a class="d-inline-block" style="cursor:pointer; margin-right:1rem;">Modify</a>
    <a class="d-inline-block" style="cursor:pointer" >Remove</a>
  </td>
  <% else %>
  <td><%= recipes_food.quantity - recipes_food.food.quantity %></td>
  <td>$<%= (recipes_food.quantity - recipes_food.food.quantity) * recipes_food.food.price %></td>
  <%end%>
</tr>
