<h1 class="text-center mb-5">Public Recipes</h1>

<% @public_recipes.each do |recipe| %>
  <div class="container-fluid w-75 d-flex border border-5 border-warning rounded rounded-3  p-5 gap-5 align-items-baseline mb-5">
  
  <div >
  <h2 class="mb-3"><%= recipe.name %></h2>
   <p>By <%= recipe.user.name %></p>
  </div>

  <div>
  <div class="d-flex align-items-center gap-4">
    <h4>Total food items: </h4>
    <%= recipe.recipes_foods.count %>
  </div>
  <div class="d-flex align-items-center gap-4">
    <h4>Total Price: </h4>
    $<%= recipe.recipes_foods.sum { |food| food.quantity * food.food.price } %>
  </div>
  <p class="mt-3" >
    <%= link_to "More Details", recipe, class: "btn btn-info text-light" %>
  </p>
  </div>

</div>
<% end %>