<p style="color: green"><%= notice %></p>

<div class="d-flex flex-column justify-content-center align-items-center">
  <h2 style="text-transform:capitalize"><%=@recipe.name%></h2>
  <div class="w-50 d-flex justify-content-between align-items-center">
    <p>Preparation time: <%= @recipe.preparation_time %></p>
    <a class="nav-link" href="<%= visibility_path(@recipe.id) %>">
      <div class="form-check form-switch" >
        <input
          class="form-check-input disable"
          type="checkbox"
          role="switch"
          disabled
          id="flexSwitchCheckDefault"
          style="opacity:1;"
          <%if @recipe.public  %>
            checked
          <%end%>
        />
        <label class="form-check-label" style="opacity:1;" for="flexSwitchCheckDefault"
          >Public</label
        >
      </div>
    </a>
  </div>
  <p class="w-50">Cooking time: <%= @recipe.cooking_time %></p>

  <p class="w-50"><%= @recipe.description %></p>
  <div class="w-50 d-flex justify-content-between align-items-center">
    <button class="btn btn-info">Generate shopping list</button>
    <% if current_user == @recipe.user %>
    <%= link_to "Add ingredient", edit_recipe_path(@recipe.id),class:"btn btn-info" %>
    <%end%>
  </div>

  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipes_foods.each do |recipes_food| %>
       <%= render partial: 'food_row', locals: { recipes_food: recipes_food, extended:true } %> <% end %>
    </tbody>
  </table>
</div>
